@import "src/shared/styles/global";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: rem(167) rem(54) rem(30);
    flex-grow: 1;
    height: 100%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 20, 0.8);
    z-index: -1;
    object-fit: cover;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: darken;
    filter: blur(rem(10));
}
